In [1]:
import pyqrcode
from pyqrcode import QRCode
import png
import os
import cv2
from fpdf import FPDF
pdf=FPDF()
import pandas as pd
import img2pdf

In [2]:
##d=omr id
def create_sheet(num_q, test_id,school_id, class_id, section_id, test_name, school_name, d):
    if(len(test_name)>22):
        test_name=test_name[0:22]
    if(len(school_name)>22):
        school_name=school_name[0:22]
     ## d to indicate name of sheet to overcome overwriting issues
    sheet=cv2.imread('Sheet%d.png'%num_q)
    encoding=(str(d)+':'+test_id+':'+school_id+':'+class_id+':'+section_id+':'+str(num_q)).upper()
    qr_code=pyqrcode.create(content=encoding, error='L',version=3)
    qr_code.png(r"C:\Users\Gautam\Desktop\OMR\TEMP\%dencoding.png"%d, scale=15)
    QR=cv2.imread(r"C:\Users\Gautam\Desktop\OMR\TEMP\%dencoding.png"%d)
    y=QR.shape[0]
    x=QR.shape[1]
    font=cv2.FONT_HERSHEY_DUPLEX 
    vert_offset=1700 ##along x axis
    hor_offset=450 ##along y axis
    sheet[hor_offset:hor_offset+x,vert_offset:vert_offset+y,]=QR
    cv2.imwrite(r"C:\Users\Gautam\Desktop\OMR\TEMP\%dencoding.png"%d, sheet)
    copy=cv2.imread(r"C:\Users\Gautam\Desktop\OMR\TEMP\%dencoding.png"%d)

    base=1050
    thickness=3
    size=1.5
    color=(0,0,0) ##black text
    cv2.putText(copy, 'Test:%s'%test_name, (vert_offset-100, base),font, size,color,thickness,cv2.LINE_AA)
    cv2.putText(copy, 'School:%s'%school_name, (vert_offset-100, base+60),font, size,color,thickness,cv2.LINE_AA)
    cv2.putText(copy, 'Class:%s'%class_id, (vert_offset-100, base+120),font, size, color, thickness,cv2.LINE_AA)
    cv2.putText(copy, 'Section:%s'%section_id, (vert_offset-100, base+180),font, size, color ,thickness,cv2.LINE_AA)
    cv2.imwrite(r"C:\Users\Gautam\Desktop\OMR\TEMP\%dencoding.png"%d, copy)
    with open(r"C:\Users\Gautam\Desktop\OMR\PDFS\%d.pdf"%d, "wb") as f:
        f.write(img2pdf.convert(r"C:\Users\Gautam\Desktop\OMR\TEMP\%dencoding.png"%d))
    os.remove(r"C:\Users\Gautam\Desktop\OMR\TEMP\%dencoding.png"%d)

In [3]:
df=pd.read_excel("namsai school list.xlsx")

In [4]:
df

,OMR ID,School Id,School Name,Test Name,Class,Section,Baseline namsai June19
0,1,1,GHSS Namsai,Baseline namsai June19,9,NaN,Baseline namsai June19
1,2,1,GHSS Namsai,Baseline namsai June19,10,NaN,Baseline namsai June19
2,3,1,GHSS Namsai,Baseline namsai June19,11,NaN,Baseline namsai June19
3,4,1,GHSS Namsai,Baseline namsai June19,12,NaN,Baseline namsai June19
4,5,2,GHSS Lathao,Baseline namsai June19,9,NaN,Baseline namsai June19
5,6,2,GHSS Lathao,Baseline namsai June19,10,NaN,Baseline namsai June19
6,7,2,GHSS Lathao,Baseline namsai June19,11,NaN,Baseline namsai June19
7,8,2,GHSS Lathao,Baseline namsai June19,12,NaN,Baseline namsai June19
8,9,3,GSS Jaipur,Baseline namsai June19,9,NaN,Baseline namsai June19
9,10,3,GSS Jaipur,Baseline namsai June19,10,NaN,Baseline namsai June19
10,11,4,GSS Namsai,Baseline namsai June19,9,NaN,Baseline namsai June19
11,12,4,GSS Namsai,Baseline namsai June19,10,NaN,Baseline namsai June19
12,13,5,GSS Manmow,Baseline namsai June19,9,NaN,Baseline namsai June19
13,14,5,GSS Manmow,Baseline namsai June19,10,NaN,Baseline namsai June19
14,15,6,GSS Rangalibeel,Baseline namsai June19,9,NaN,Baseline namsai June19
15,16,6,GSS Rangalibeel,Baseline namsai June19,10,NaN,Baseline namsai June19
16,17,7,GSS Ningroo,Baseline namsai June19,9,NaN,Baseline namsai June19
17,18,7,GSS Ningroo,Baseline namsai June19,10,NaN,Baseline namsai June19
18,19,8,GSS Manhofai,Baseline namsai June19,9,NaN,Baseline namsai June19
19,20,8,GSS Manhofai,Baseline namsai June19,10,NaN,Baseline namsai June19
20,21,9,GHSS Chongkham,Baseline namsai June19,9,NaN,Baseline namsai June19
21,22,9,GHSS Chongkham,Baseline namsai June19,10,NaN,Baseline namsai June19
22,23,9,GHSS Chongkham,Baseline namsai June19,11,NaN,Baseline namsai June19
23,24,9,GHSS Chongkham,Baseline namsai June19,12,NaN,Baseline namsai June19
24,25,10,GSS Alubari,Baseline namsai June19,9,NaN,Baseline namsai June19
25,26,10,GSS Alubari,Baseline namsai June19,10,NaN,Baseline namsai June19
26,27,11,GHSS Old Mohong,Baseline namsai June19,9,NaN,Baseline namsai June19
27,28,11,GHSS Old Mohong,Baseline namsai June19,10,NaN,Baseline namsai June19
28,29,11,GHSS Old Mohong,Baseline namsai June19,11,NaN,Baseline namsai June19
29,30,11,GHSS Old Mohong,Baseline namsai June19,12,NaN,Baseline namsai June19
30,31,12,GHSS Mahadevpur,Baseline namsai June19,9,NaN,Baseline namsai June19
31,32,12,GHSS Mahadevpur,Baseline namsai June19,10,NaN,Baseline namsai June19
32,33,12,GHSS Mahadevpur,Baseline namsai June19,11,NaN,Baseline namsai June19
33,34,12,GHSS Mahadevpur,Baseline namsai June19,12,NaN,Baseline namsai June19
34,35,13,GSS Silatoo,Baseline namsai June19,9,NaN,Baseline namsai June19
35,36,13,GSS Silatoo,Baseline namsai June19,10,NaN,Baseline namsai June19
36,37,14,GSS Kumari,Baseline namsai June19,9,NaN,Baseline namsai June19
37,38,14,GSS Kumari,Baseline namsai June19,10,NaN,Baseline namsai June19

In [5]:
for i in range(df.shape[0]):
    OMR_id=df.iloc[i][0]
    School_id=str(df.iloc[i][1])
    School_name=str(df.iloc[i][2])
    Test_name=str(df.iloc[i][3])
    Class_id=str(df.iloc[i][4])
    Section_id=str(df.iloc[i][5])
    Test_id=str(df.iloc[i][6])
    num_q=50
    create_sheet(num_q, Test_name, School_id, Class_id, Section_id, Test_name, School_name, OMR_id)

In [30]:
df.iloc[0][6]

'Baseline namsai June 19'

'12th'